# Ignore some folders
elpa/
.cache/
auto-save-list/
transient/
url/

# Ignore all temporary files
*\~

# Ignore file for custom-set-variables
emacs-custom.el

# Miscallenous files
network-security.data
.lsp-session-*

recentf
\#recentf\#

tramp
projectile-bookmarks.eld
