# Ignore some folders
.cache/
auto-save-list/
elpa/
transient/

network-security.data
.lsp-session-*

recentf
\#recentf\#

# Ignore all temporary files
*\~

/tramp
projectile-bookmarks.eld

# Ignore file for custom-set-variables
emacs-custom.el
